<div class="navbar-wagon  <%= yield(:navbar_class) %>">

      <div class="title1">

          <p><a href="/"><img src="https://lmr-nds.de/wp-content/uploads/2020/05/rent-a-teacher-logo.png" id= "logo"></a>  </p>
          </div>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

          <div class="navbar-wagon-item">
            <div class="alignitems">
              <div>
                <%= link_to "Become a teacher", new_teacher_path %>
              </div>
              <div class="header-btn">
                <%= link_to "Sign up", new_user_session_path%>
              </div>
              <div>
                <%= link_to "Log in", new_user_session_path %>
              </div>
             </div>
        </div>
         </div>
        </div>
