
<div class="container-fluid">
  <div class="row justify-content-lg-center">
  <div class="teachers-title" >
  <h1>Check Out Our Best Teachers!</h1>
  <p>Get to know and hire top teachers</p>
</div>
    <% @teachers.each do |teacher| %>
      <div class="col col-3 card gap-3" style="box-shadow: 0 0 10px #000000">
        <%= cl_image_tag teacher.photo.key , height: 150, width: 200, crop: :fill %>
        <p><%= link_to teacher.name, teacher_path(teacher)%></p>
        <p><%= teacher.price%> EUR</p>
        <p><%= '⭐️' * teacher.rating.to_i %></p>
    </div>
  <% end %>
  </div>
</div>
