
.card-home {
color: white;
position: relative;
margin-bottom: 50px;
}

.card-description {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.card-teacher {
 position: absolute;
 right: 10px;
 top: 10px;
 width: 40px;
 border-radius: 50%;
}
