// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";
@import "card";

.banner {
 color: black;
 display: flex;
 align-items: center;
 justify-content: center;
 text-align: center;
 margin-bottom: 35px;
}

.banner-content h1 {
 font-size: 50px;
 font-weight: bold;
}

.banner-content p {
 font-size: 25px;
 font-weight: lighter;
 margin-bottom: 30px;
}
